@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

@keyframes bombLeftOut {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    filter: blur(0px);
  }

  50% {
    z-index: 1;
    opacity: 1;
    transform-origin: -100% 40%;
    transform: rotate(-160deg) scale(0.9, 0.9);
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    z-index: 1;
    transform-origin: -100% 40%;
    transform: rotate(-160deg) scale(0.9, 0.9);
    filter: blur(20px);
  }
}

@keyframes bombLeftLongOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    filter: blur(0px);
  }

  50% {
    z-index: 1;
    opacity: 1;
    transform-origin: -200% -40%;
    transform: rotate(-160deg) scale(0.7, 0.7) rotateY(-50deg);
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    z-index: 1;
    transform-origin: -200% -40%;
    transform: rotate(-160deg)  scale(0.7, 0.7) rotateY(-50deg);
    filter: blur(20px);
  }
}

@keyframes bombRightOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    filter: blur(0px);
  }

  50% {
    opacity: 1;
    z-index: 1;
    transform-origin: 100% 40%;
    transform: rotate(160deg) scale(2.5, 2.5) rotateY(10deg);
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    z-index: 1;
    transform-origin: 100% 40%;
    transform: rotate(160deg);
    filter: blur(20px);
  }
}

@keyframes bombRightLongOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    filter: blur(0px);
  }

  50% {
    z-index: 1;
    opacity: 1;
    transform-origin: 550% 40%;
    transform: rotate(160deg) scale(0.5, 0.5) rotateY(100deg); 
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    z-index: 1;
    transform-origin: 550% 40%;
    transform: rotate(160deg) scale(0.5, 0.5) rotateY(100deg);
    filter: blur(20px);
  }
}

@keyframes bombRightTopOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    filter: blur(0px);
  }

  50% {
    z-index: 1;
    opacity: 1;
    transform-origin: 150% -150%;
    transform: rotate(-190deg) scale(0.5, 0.5) rotateY(10deg); 
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    z-index: 1;
    transform-origin: 150% -150%;
    transform: rotate(-190deg) scale(0.5, 0.5) rotateY(10deg);
    filter: blur(20px);
  }
}

html, body, #root {
  margin: 0;
  padding: 0;

  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

#root {
  background-color: LightYellow ;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: 400px;
  height: 300px;
  position: absolute;
}


#ttotto {
  opacity: 0;
  &-wrapper {
    width: 200px;
    height: 150px;
    
    position: absolute;
    top: -120px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }

  display: inline-block;
  top: 0;
  font-size: 80px;
  font-weight: 700;
  color: RoyalBlue;
}

#box {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background-color: lightsalmon;
  width: 200px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box > span {
  font-size: 50px;
  font-weight: 700;
  color: #fafafa;
}

#particles {
  top: -105px;
  bottom: 0;
  
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.particle {
  z-index: -1;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: olive;
}

.particle {
  &.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}

.particle:nth-child(1) {
  &.animated {
    animation-name: bombLeftOut;
    animation-delay: 0.2s;
  }
  // animation-delay: ;
}

.particle:nth-child(2) {
  &.animated {
    animation-name: bombRightLongOut;
    animation-delay: 0.3s;
  }
}

.particle:nth-child(3) {
  &.animated {
    animation-name: bombLeftLongOut;
    animation-delay: 0.45s;
  }
}

.particle:nth-child(4) {
  &.animated {

    animation-name: bombRightOut;
    animation-delay: 0.4s;
  }
}


.particle:nth-child(5) {
  &.animated {
    animation-name: bombRightTopOut;
    animation-delay: 0.6s;
  }
}
